---
 const personalImageAlt = "Denis"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  
    <p>
        Mi nombre es Denis y empecé con la programación con Scratch, a los 12 años.
        Actualmente he acabado el <strong>grado superior de Desarrollo de Aplicaciones Web.</strong>
    </p>

    <p>
        Durante mis estudios, entre otras cosas, <strong>he participado en el concurso de programación <em class="italic">ProgramaMe</em></strong>, enfocado en la resolución de 
        problemas algorítmicos de la manera más óptima posible.
    </p>

    <p>
        Como programador, <strong>me gusta aprender cosas nuevas y enfrentarme a retos</strong>. Me considero una persona responsable y comprometida con mi trabajo.
    </p>

  </div>

  <img width="200" height="200" src="/img/bra2.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>